<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Artista: nova conta</title>
</head>
<body>
  
  {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flashes">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

  <h2>Criar perfil de artista</h2>
  <form method="post">
    Nome artístico: <input name="name"><br>
    Bio: <input name="bio"><br>
    <button type="submit" class="button">Criar</button>
  </form>

  <form action="/artist" method="get" style="display: inline;">
    <button type="submit">Voltar</button>
  </form>
  
</body>

