{% extends "base.html" %}
{% block title %}Login de Artista – MyMusicApp{% endblock %}
{% block content %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Editar Música</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flashes">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <h1>Editar Música de {{ artist }}</h1>
    <form method="post">
        <label for="title">Título:</label><br>
        <input type="text" name="title" value="{{ song[2] }}"><br><br>

        <label for="genre">Gênero:</label><br>
        <select name="genre" required>
            <option value="rock" {% if song[4] == 'rock' %}selected{% endif %}>rock</option>
            <option value="pop" {% if song[4] == 'pop' %}selected{% endif %}>pop</option>
            <option value="jazz" {% if song[4] == 'jazz' %}selected{% endif %}>jazz</option>
            <option value="hip-hop" {% if song[4] == 'hip-hop' %}selected{% endif %}>hip-hop</option>
            <option value="blues" {% if song[4] == 'blues' %}selected{% endif %}>blues</option>
            <option value="metal" {% if song[4] == 'metal' %}selected{% endif %}>metal</option>
            <option value="classical" {% if song[4] == 'classical' %}selected{% endif %}>classical</option>
            <option value="electronic" {% if song[4] == 'electronic' %}selected{% endif %}>electronic</option>
            <option value="folk" {% if song[4] == 'folk' %}selected{% endif %}>folk</option>
            <option value="other" {% if song[4] == 'other' %}selected{% endif %}>other</option>
        </select><br><br>


        <label for="description">Descrição:</label><br>
        <textarea name="description">{{ song[3] }}</textarea><br><br>

        <button type="submit">Salvar Alterações</button>
    </form>
    <a href="{{ url_for('list_songs', name=artist) }}">Cancelar</a>
</body>
</html>

{% endblock %}

