{% extends "base.html" %}
{% block title %}Título da Página – MyMusicApp{% endblock %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Usuário: entrar</title>
</head>

<h2>Login do usuário</h2>

  {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flashes">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

<form method="post">
  Nome: <input name="name"><br>
  <button type="submit" class="button">Entrar</button>
</form>

<form action="/user" method="get" style="display: inline;">
  <button type="submit">Voltar</button>
</form>
{% endblock %}


