{% extends "base.html" %}
{% block title %}Painel de {{ user }} – IndieFriends{% endblock %}

{% block content %}
  <h2 class="text-2xl font-semibold mb-8">Bem-vindo, {{ user }}!</h2>

  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-6">
    <a href="{{ url_for('all_likes', name=user) }}"
       class="bg-white p-6 rounded-lg shadow hover:shadow-lg">
      <h3 class="font-semibold text-indigo-600">Minhas Curtidas</h3>
    </a>
   <a href="{{ url_for('most_liked') }}?user={{ user }}"
       class="bg-white p-6 rounded-lg shadow hover:shadow-lg">
      <h3 class="font-semibold text-indigo-600">Mais Curtidas</h3>
    </a>
    <a href="{{ url_for('search_by_genre') }}"
       class="bg-white p-6 rounded-lg shadow hover:shadow-lg">
      <h3 class="font-semibold text-indigo-600">Buscar por Gênero</h3>
    </a>
    <a href="{{ url_for('search_by_name') }}"
       class="bg-white p-6 rounded-lg shadow hover:shadow-lg">
      <h3 class="font-semibold text-indigo-600">Buscar por Nome</h3>
    </a>
  </div>
{% endblock %}
